.container {
  height: 100vh;
  display: grid;
  row-gap: 1em;
  place-items: center;
  grid-template-rows: min-content min-content min-content;
  align-content: center;
  @media (min-width: 900px) {
    margin-top: -50px;
    width: 777px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;
    place-self: center;
  }
  .title {
    font-size: clamp(2.8em, 10vw, 4em);
    font-weight: 300;
    text-align: center;
    margin: 0;
    .strong {
      font-weight: 700;
      display: block;
    }
    @media (min-width: 900px) {
      grid-column: 7 / 13;
      grid-row: 1;
      width: 255px;
      text-align: left;
      justify-self: start;
      align-self: end;
      line-height: 1.1em;
      padding-left: 0.33em;
    }
  }
  .subtitle {
    @media (min-width: 900px) {
      width: 100%;
      grid-column: 1 / 13;
      grid-row: 2;
      text-align: right;
      align-self: start;
    }

    background-color: #16e0bd;
    font-family: "Source Code Pro", monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1.8em, 5vw, 2.375em);
    padding: 10px 30px;
    margin: 0;
    width: clamp(10em, 5vw, 25em);
  }
  .img {
    @media (min-width: 900px) {
      grid-column: 2 / 7;
      grid-row: 1 / -1;
      width: 100%;
    }

    width: clamp(250px, 50%, 320px);
    line-height: 0; // to remove small white bottom border from image
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}
