.fullscreen {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  backdrop-filter: blur(3px);
}
.img {
  object-fit: contain;
  width: 100%;
  height: unset;
}

.thumbnail {
  line-height: 0;
  cursor: pointer;
  &:hover {
    outline: 2px solid #16e0bd;
    outline-offset: 2px;
  }
  &:focus {
    outline: 2px solid #16e0bd;
    outline-offset: 2px;
  }
}
